/*CSS GRID*/

.contenido-1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"imagen icono"
	"imagen titulo"
	"imagen texto"
	"imagen link";
	justify-items: center;
	align-items: center;
	grid-gap: 0em 1.5em; 
	padding: 15px 30px 15px 30px;
}

.contenido-1 .imagen{
	grid-area: imagen;
	align-content:center;
}

.contenido-1 .icono{
	grid-area: icono;
}

.contenido-1 .titulo{
	grid-area: titulo;

}

.contenido-1 .texto{
	grid-area: texto;
}

.contenido-1 .link{
	grid-area: link;
}

/* Media Query */

/*Entre 1200px y 992px*/
@media (max-width: 1200px) {

}

/*Entre 992px y 768px*/
@media (max-width: 992px) {
	.contenido-1{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas:
		"icono titulo titulo titulo"
		"imagen imagen texto texto"
		"link link link link";
		}
	.contenido-1 .icono{
		justify-self:start;
	}

	.contenido-1 .titulo{
		justify-self:start;
	}
}

/*Entre 768px y 576px*/
@media (max-width: 768px) {
	.contenido-1{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas:
		"icono titulo titulo titulo"
		"imagen imagen imagen imagen"
		"texto texto texto texto"
		"link link link link";
		justify-items: stretch;
		grid-gap: 1em 1.5em; 
	}
	.contenido-1 .imagen{
		align-content:stretch;
	}
	.contenido-1 .imagen img{
		width:100%;
	}

}

/*Menos576px*/
@media (max-width: 576px) {

}
